<div class="svti_menu">


	<div class="svti_menu__area">

		<div class="svti_menu__grid-row ">
			<div class="svti_menu__logo-column">
				<img class="svti_menu__logo-img" src="//svt.se/static/svtse-render/images/logotypes/svtlogo-black_v3.png" alt="SVT logotyp">
			</div>
			<div class="svti_menu__nav-column">
				<nav>
					<ul class="svti_menu--list">
						{{#each globalMenu}}
							<li><a href="/{{slug}}"
								{{#if active}}
								   class="active"
								{{/if}}>
								{{title}}</a>
								<ul class="svti_menu--list__children {{#if active}}active{{/if}}">
									{{#each children}}
									<li><a href="/{{parentSlug}}/{{slug}}"
										{{#if active}}
										   class="active"
										{{/if}}>
										{{title}}</a>
									{{/each}}
								</ul>
							</li>
						{{/each}}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

