{{{printMenu globalMenu}}}

<ul class="menu">
  {{#each globalMenu}}
  <li><a href="/{{slug}}"
    {{#if active}}
      class="active"
    {{/if}}>
    {{title}}</a>
    <ul class="menu__children {{#if active}}active{{/if}}">
    {{#each children}}
      <li><a href="/{{parentSlug}}/{{slug}}"
        {{#if active}}
          class="active"
          {{/if}}>
        {{title}}</a>
    {{/each}}
    </ul>
  </li>
  {{/each}}
</ul>
