<div class="svti_post">
	<div class="svti_post__area">

		<h1>{{activePost.title}}</h1>

		<div class="svti_markdown">
			{{{markdown activePost.body }}}
		</div>

		<h2>Do</h2>
		<p>{{{ activePost.dos }}}</p>

		<h2>Don't</h2>
		<p>{{ activePost.donts }}</p>

		<div>{{ activePost.html }}</div>

	</div>
</div>